# ----------------------------
# Global options
# ----------------------------
{
    admin off
    persist_config off
    auto_https off
    log {
        format json
    }
    servers {
        trusted_proxies static private_ranges
    }
}

# ----------------------------
# Load balancing settings
# ----------------------------
(lb_settings) {
    lb_policy round_robin
    lb_retries 100
    lb_try_duration 10s
    lb_try_interval 250ms
}

(passive_health_checks) {
    fail_duration 60s
    max_fails 300
    unhealthy_latency 5s
    unhealthy_request_count 200
}

# ----------------------------
# Site block
# ----------------------------
:{$PORT} {
    log {
        format json
    }

    handle_path /investments* {
        reverse_proxy {$BACKEND_DOMAIN} {
			transport http {
                tls
            }
            # Add Bearer token header
            header_up Authorization "Bearer {$API_TOKEN}"
            header_up Host {$BACKEND_DOMAIN}

            import lb_settings
            import passive_health_checks
        }
    }
}
